# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
site-packages/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*
coverage.xml
*.cover

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
AWS/ParsePdfLambda/jumpToRDS.sh
jump2Rds.ps1
